h1{
    text-align: center;

}
h3{
    text-align: center;
}
.headers{
    color: #3366cc;
}
#banner{
    width: 50%;
    height: 360px;
    object-fit: cover;
}
.para{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.passa{
    margin-top: 10px;
    height: 320px; /* Set the desired height */
    width: auto;   /* Automatically adjust the width */
    max-width: 100%; /* Ensure the image does not exceed the card width */
    object-fit: contain
}
.anpassBild{
    margin-top: 10px;
    height: 500px; /* Set the desired height */
    width: auto;   /* Automatically adjust the width */
    max-width: 100%; /* Ensure the image does not exceed the card width */
    object-fit: contain
}
.custom-card-body {
    max-width: 100%; /* Add padding to the card body to reduce text width */
}
.custom-card {
    max-width: 350px;   
}
.form_reg{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reg {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.check_reg {
    margin-top: 10px;
}

#iframeContainer {
    margin-top: 15px;
}
#video {
    max-width: 550px;
    max-height: auto;
  }
  
  .card-body {
    padding: 20px; /* Adjust padding for better spacing */
  }
  
  .btn-purchase {
    margin-right: 10px; /* Adjust margin for better spacing */
  }