h1{
    color: rgb(0, 14, 197);
    text-align: center;

}
#banner{
    width: 50%;
    height: 360px;
    object-fit: cover;
}
.para{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.passa{
    height: 320px;
    width: auto;
}
.anpassBild{
    height: 500px;
    width: auto;
}