
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrapEtc.html' %}
    <title>Filmer</title>
</head>
<body> 
    {% include 'nav.html' %}
    <div class="container" style="margin-top: 80px;">
            <a class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Sortera</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/filmlist">Sortera filmer på namn</a></li>
                <li><a class="dropdown-item" href="#">Sortera filmer på pris</a></li>
            </ul>
    </div>
    <div class ='text-center container' style="margin-top: 30px;">
        {% for film in films%}
        {% include 'film_items.html' %}
        {% endfor %}
    </div>
    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>