
<div class ="row container">
    <div class ="col-1">
        <img src="{{ url_for('static', filename='images/film' + film.id|string + '.jpg') }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class = "col-5">
        <h5 style="margin-bottom: 4px; padding-bottom: 4px; padding-top: 20px;">{{film['title']}}</h5>
        <div>
            <b>Skådespelare:</b>{{film['actors']}}
        </div>
        <div class="border-bottom"; style = "margin-bottom: 4px; padding-bottom: 40px;">
            <b>Utgivningsår:</b>{{film['releaseYear']}}
        </div>
    </div>
    <div class ="col-2">
        <b>Pris(Kr): </b>{{film['price']}}
    </div> 
        <div class ="col-1">
            <a href="/film/{{film['id']}}" type="button" class="btn btn-primary">Info</a>
        </div>        
        <div class="col-1">
            {% if film['copies'] > 0 %}
                <a href="#" type="button" class="btn btn-primary">Köp</a>
            {% else %}
                <span class="text-muted">Tillfälligt slut</span>
            {% endif %}
        </div>
</div>