<div class ="container">
    <h3 class="headers" >Toppval av filmer och artister enlig våra användare</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
      <div class="col">
        <div class="card custom-card mx-2">
          <img src="static/images/Gonew.jpg" class="card-img-top passa" alt="...">
          <div class="card-body custom-card-body">
            <h5 class="card-title">Gone with the wind</h5>
            <p class="card-text">Höjdpunkten i Hollowooods filmskapande. Stort projekt av en populär bok om ett kontroversiellt tema. Står sig än idag</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card custom-card mx-2">
          <img src="static\images\Hedy.jpg" class="card-img-top passa" alt="...">
          <div class="card-body custom-card-body">
            <h5 class="card-title">Hedy Lamarr</h5>
            <p class="card-text">"The most beautiful woman in the world" kallades hon av sin agent. Hon flydde europa innan kriget och la grunden för dagens wifi när hon tog fram teknik för att styra torpeder</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card custom-card mx-2">
          <img src="static\images\Humphrey.jpg" class="card-img-top passa" alt="...">
          <div class="card-body custom-card-body">
            <h5 class="card-title">Humphrey Bogart</h5>
            <p class="card-text">Hårdkokt cyniker som var enorm under 30- och 40-talet. Han hade ofta ett hjärta under den tuffa fasaden</p>
          </div>
        </div>
      </div>
    </div>
  </div>