

<div class ="row">
    <div class = "col-5">
        <h5 style="margin-bottom: 4px; padding-bottom: 4px;">{{job['title']}}</h5>
        <div>
            <b>Skådespelare:</b>{{job['actors']}}
        </div>   
        <div class="border-bottom"; style = "margin-bottom: 4px; padding-bottom: 4px;">
            <b>Utgivningsår:</b>{{job['releaseYear']}}
        </div>
    </div>
        <div class ="col-1">
            <a href = "mailto:davidbeckham@hotmail.com?subject=Jag%20vill%20bli%20proffs inom {{job['title']}}!&body=Mitt%20namn%3A%20%3Cditt%20namn%20h%C3%A4r%3E%0D%0A%0D%0AMin%20%C3%A5lder%3A%20%3Cdin%20%C3%A5lder%20h%C3%A4r%3E%0D%0A%0D%0AMin%20l%C3%A4ngd%3A%20%3Cdin%20l%C3%A4ngd%20h%C3%A4r%3E%0D%0A%0D%0A" target="_blank" type="button" class="btn btn-primary">Gilla</a>
        
</div>
</div>